html {
    scroll-behavior: smooth;
  }

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #B5DBFF;
    color: #FFFAFA;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    height: 90px;
    transition: 0.25s;
} 

main {
    margin-top: 90px;
}
#home, #prices, #reviews {
    background-color: transparent;
    height: 90px;
    font-size: 20px;
    border-width: 0px;
    color: #083D77;
    font-weight: 800;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}
#home {
    grid-column: 9;
}
#home:hover, #prices:hover, #contact:hover, #reviews:hover {
    background-color: #E8CAD2;
}
h1 {
    margin-left: 20px;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.buttons {
    text-align: left;
    
} 
@font-face {
    font-family: nunitoFont;
    src: url(Nunito-VariableFont_wght.ttf);
}
body {
    background-color: #FFFAFA;
    margin-left: 0px;
    margin-right: 0px;
    font-family: nunitoFont;
    animation-name: ani;
    opacity: 100%;
    animation-duration: 3s;
}

@keyframes ani {
    from {opacity: 0%;}
    to {opacity: 100%;}
} 
a {
    color: #083D77;
    text-decoration: none;
}
#intro {
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    height: 550px;
    margin-right: 0px;
}
#intro-text {
    display: grid;
    height: 550px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 4fr 1fr;
}
#me {
    text-align: center;
   
    img {
        height: 550px;
    }
}

#hello {
    display: flex;
    align-items: flex-end;
    color: #DE4D86;
    font-size: 50px;
    grid-column: 2; 
    grid-row: 3;
}
#description {
    grid-column: 2; 
    grid-row: 4;
    font-size: 50px;
    color: #083D77;
}
#prices-block {
    background-color: #FCD0A1;
}


table {
    display: flex;
    flex-direction: column;
    align-items: center;
}
thead, #reviews-header {
    text-align: center;
    font-size: 40px;   
}
#reviews-header {
    margin-bottom: 50px;
}
td {
    padding: 10px;
    font-size: 25px;
}

h3 {
    background-color: #E8CAD2;
    margin: 0px;
}
p {
    margin-top: 0px;
}
.project-pic {
    img {
        width: 100%;
    }
}

#contact-block {
    background-color: #083D77;
    padding-top: 30px;
    padding-bottom: 50px;
}
#contact-text {
    color: white;
    background-color: #083D77;
}
h2 {
    font-size: 40px;
}
h3 {
    background-color: #FFFAFA;
    font-size: 35px;
}
h3:hover {
    text-decoration: underline;
    text-decoration-color: #C55B8C;
}
#social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#social-text {
    text-align: center;
    color: #fff;
    font-size: 25px;
}
#social-text:hover {
    text-decoration: underline;
}
.project-text, #about {
    font-size: 23px;
    text-align: justify;
}

#about {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 01px;
    background-color: #B5DBFF;
    padding-left: 7%;
    padding-right: 7%;
    p {
        color: #000;
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        content: "ЛА";
    }
}

@media screen and (max-width: 1000px) {
    h1:before {
      content: "ЛА";
    }
    #intro {
        grid-template-rows: repeat(2, 1fr);
        height: 900px;
        grid-template-columns: 1fr;
    }

    #intro-text {
        grid-template-rows: repeat(2, 1fr);
        height: 250px;
    }
    #me {
        text-align: center;
       
        
    }
  }
  
  @media screen and (min-width: 1001px) {
    h1:before {
      content: "Люция Аверьянова";
    }
  }

#reviews-block {
  width: 100%;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 60px 1fr 60px;
}

#container {
    width: 100%;
    overflow-x: scroll;
    overflow: hidden;
    scroll-behavior: smooth;
}

#content {
    width: auto;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

#review {
    display: grid;
    grid-template-rows: 25px 25px 25px 1fr;
    grid-template-columns: 1fr 1fr;
    padding-right: 13px;
    padding-left: 12px;
    width: 280px;
    margin: 0px;
    border-right: solid lightgray 1px;
}

#first, #second, #third, #forth {
    grid-column: 1;
}

#fifth {
    grid-row: 1;
    grid-column: 2;
    text-align: right;
}

#forth, #second, #third {
    grid-column: 1 / 3;
}

#slideRight, #slideLeft {
    background-color: transparent;
    border: 0px;
    font-size: 30px;
}

#slideLeft {
    margin-left: 30px;
}

#slideRight {
    margin-right: 30px;
}

#slideRight:hover, #slideLeft:hover {
    background-color: #F0EFF4;
}